*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 50%;
    max-width: 400px;
    background-color: beige;
    border-radius: 8px;
    padding: 20px 30px;
}
.form-box header h1{
    text-align: center;
    color: blue;
}
.form-box form{
    margin-block: 30px;
}
input{
    width: 100%;
    padding: 20px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: lightgray;
    font-size: 16px;
    margin: 12px 0;
}

input[type="text"]{
    display: none;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
input[type="button"]{
    margin-block: 24px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: brown;
}
.signup{
    text-align: center;
    margin-block: 20px;
}
.signup a{
    font-size: 17px;
    font-weight: 700;
    color: blue;
}
.signup a:hover{
    color: brown;
}